{include file="public/header" /}
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-md-3">
        <h2>快捷菜单</h2>
        <small>支持自定义.</small>
        <ul class="list-group clear-list m-t" id="shortcut">
            <li class="list-group-item fist-item pointer" data-url="{:url('member/recharge')}">
                    <span class="pull-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                <span class="label label-success">1</span> 充值/购买
            </li>
            <li class="list-group-item pointer" data-url="{:url('member/consumption')}">
                    <span class="pull-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                <span class="label label-info">2</span> 预约/服务
            </li>
            <li class="list-group-item pointer" data-url="{:url('member/behavior')}">
                    <span class="pull-right">
                       <i class="fa fa-angle-right"></i>
                    </span>
                <span class="label label-primary">3</span> 会员日志
            </li>
            <li class="list-group-item pointer" data-url="{:url('report/income')}">
                    <span class="pull-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                <span class="label label-default">4</span> 收入报表
            </li>
            <li class="list-group-item pointer" data-url="{:url('item/Index')}">
                    <span class="pull-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                <span class="label label-white">5</span> 服务项目管理
            </li>
        </ul>
    </div>

    <div class="col-md-9">
        <div style="height:450px;">
            <div class="flot-chart-content" id="chart"></div>
        </div>
    </div>

</div>

<script src="/static/plugins/echarts/echarts.js"></script>
<script>
    $("#shortcut li").click(function () {
        location.href = this.dataset.url;
    });
    var myChart = echarts.init(document.getElementById('chart'));
    var option = {
        title: {
            text: '近7天服务人次'
        },
        tooltip : {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },
        legend: {
            data:['服务人次']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                boundaryGap : false,
                data : JSON.parse('{:json_encode($date)}')
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'服务人次',
                type:'line',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                areaStyle: {normal: {}},
                data:JSON.parse('{:json_encode($num)}')
            }
        ]
    };

    myChart.setOption(option);
    window.onresize = function () {
        myChart.resize();
    };
</script>
{include file="public/footer" /}