{include file="public/header" /}
{include file="public/breadcrumb" /}
<link href="/static/plugins/dataTables/datatables.min.css" rel="stylesheet">

<div class="wrapper wrapper-content animated fadeInRight tooltip-demo" v-cloak>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>权限细项列表</h5>
                    <div class="ibox-tools">
                        <span class="btn btn-success btn-xs pull-left" type="button" onclick="$('#admin-rule-modal').modal('show');" data-target="#admin-rule-modal" data-tip="tooltip" data-placement="top" title="" data-original-title="添加权限角色"><i class="fa fa-plus"></i>&nbsp;添加</span>
                        <a class="collapse-link" data-tip="tooltip" data-placement="left" title="" data-original-title="折叠/展开列表">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>分类</th>
                                <th>路径</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX text-center" v-for="(vo, index) in init_data.list">
                                <td>{{vo.id}}</td>
                                <td>{{vo.title}}</td>
                                <td>{{vo.cate}}</td>
                                <td class="center">{{vo.name}}</td>
                                <td class="center">
                                    <a class="btn btn-white btn-sm" @click="getDataForModal('/admin/index/ruleAddEdit/id/'+vo.id)" data-toggle="modal" data-target="#admin-rule-modal"><i class="fa fa-pencil"></i>修改</a>
                                    <a class="btn btn-white btn-sm" @click="delItem('/admin/index/ruleDel',vo.id,'',index)"><i class="fa fa-trash-o"></i>删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="admin-rule-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeModal()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title">添加/修改 权限细项</h5>
                </div>
                <form id="addEditRuleForm">
                    <div class="modal-body" v-if="list.hasOwnProperty('id')">
                        <div class="form-group"><label>权限名称<span class="text-danger">*</span></label>
                            <input type="text" name="title" v-model="list.title" placeholder="权限名称" class="form-control">
                        </div>
                        <div class="form-group"><label>路径<span class="text-danger">*</span></label>
                            <input type="text" name="name" v-model="list.name" placeholder="admin/index/rule" class="form-control">
                        </div>
                        <div class="form-group m-b-xs"><label>分类<span class="text-danger">*</span></label>
                            <select name="cate" class="form-control" v-model="list.cate">
                                <option value="0">请选择</option>
                                <option value="1">系统设置</option>
                                <option value="2">运营管理</option>
                                <option value="3">内容维护</option>
                            </select>
                        </div>
                        <input type="hidden" name="id" v-model="list.id">
                    </div>


                    <div class="modal-body" v-else>
                        <div class="form-group"><label>权限名称<span class="text-danger">*</span></label>
                            <input type="text" name="title" placeholder="权限名称" class="form-control">
                        </div>
                        <div class="form-group"><label>路径<span class="text-danger">*</span></label>
                            <input type="text" name="name" placeholder="admin/index/rule" class="form-control">
                        </div>
                        <div class="form-group m-b-xs"><label>分类<span class="text-danger">*</span></label>
                            <select name="cate" class="form-control">
                                <option value="0">请选择</option>
                                <option value="1">系统设置</option>
                                <option value="2">运营管理</option>
                                <option value="3">内容维护</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" onclick="closeModal()">关 闭</button>
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="/static/js/vue.min.js"></script>
<script src="/static/plugins/dataTables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            aaSorting: [[0, "desc"]],//默认排序列
            bStateSave: true,
            aoColumnDefs: [
                {orderable: false, aTargets: [4]}// 制定列不参与排序
            ],
            language:{
                sLengthMenu: "每页显示 _MENU_ 条记录",
                search: "搜索:",
                paginate: {
                    first: "首页",
                    previous: "上页",
                    next: "下页",
                    last: "末页"
                },
                sInfo: "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条"
            }
        });

        $("#addEditRuleForm").validate({
            rules: {
                title: "required",
                name: "required",
                cate: {
                    required: true,
                    min: 1
                }
            },
            messages: {
                title: "权限名称要填写哦",
                name: "权限路径必填",
                cate: "请选择权限分类"
            },
            submitHandler: function (form) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/index/ruleAddEdit',
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.succ == 0) {
                            toastr.success(data.msg);
                            vm.list = {};
                            init();
                            $('#admin-rule-modal').modal('hide');
                        }
                        else
                            toastr.warning(data.msg);
                    },
                    error: function (e) {
                        err();
                    }
                });
            }
        });
    });

    function closeModal() {
        vm.list = {};
        $("#admin-rule-modal").modal('hide');
    }

    function init() {
        $.ajax({
            type: 'POST',
            url: '/admin/index/rule.html',
            success: function (res) {
                if (res.succ == 0) {
                    vm.init_data.list = res.data;
                }
                else
                    toastr.warning(res.msg);
            },
            error: function (e) {
                err();
            }
        });
    }

    var vm = new Vue({
        el: "#wrapper",
        data: {
            init_data: {
                list: {}
            },
            list: {},
            total: 1,
            p: 1
        },
        created: function () {
            init();
        }
    });
</script>

{include file="public/footer" /}