.newModule_bottom {
    background-color: #fff;
    margin-top: .2rem;
    margin-bottom: 3px;
    /*margin: 1rem 0;*/
}
.newModule_bottom .look {
    width: 100%;
    text-align: center;
    height: 1.2rem;
    padding-top: .29rem;
    border-bottom: 1px solid #efefef;
}
.bannerTitle i {
    font-style: normal;
    font-weight: 700;
    color: #f5445d;
    font-size: .29rem;
}
.bannerTitle>span::after, .bannerTitle>span::before {
    content: '';
    width: .6rem;
    height: 1px;
    background-color: #282828;
    position: absolute;
    top: 50%;
    margin-top: -0.5px;
    opacity: .2;
}
.bannerTitle>span {
    position: relative;
}
.bannerTitle>span::before {
    left: -0.72rem;
}
.bannerTitle>span::after {
    right: -0.72rem;
}
.newModule_bottom .look p{
    color: #999;
}
.block-img{
    max-width: 100%;
}
.origin-img{
    width:100%;
}
.grid-item-bottom{
    padding:.2rem .4rem;
    background: #fff;
    margin-bottom: .2rem;
}

/**detail**/
.d-price {
    line-height: 1;
    padding: 0 0.12rem;
}
.d-price .present-price {
    padding-top: 0.18rem;
}
.o-t-price {
    color: #ff5000;
    font-size: 0.24rem;
    margin-right:0.05rem;
}
.d-price .present-price .txt {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 0.14rem;
    background-color: #FFF1EB;
    border-radius: 0.2rem;
    padding: 0.04rem;
    margin-right: 0.04rem;
}
/*公共css*/
.pull-right{
    float:right;
}
line {
    display: inline-block;
    width: 0.4rem;
    border-top: 0.01rem solid #999;
}