{volist name="list" id="vo"}
{if condition="$vo.type eq 0"}
<div class="grid-item" data-id="{$vo.id}">
    <div class="origin-img" onclick="location.href='{:url(\'article/detail\',[\'id\'=>$vo.id])}'">
        <img class="block-img" src="{$vo.image}">
    </div>
    <div class="grid-item-bottom">
        <h2 class="list-title" onclick="location.href='{:url(\'article/detail\',[\'id\'=>$vo.id])}'">{$vo.title}</h2>
        <div>
            {if condition="$user_id > 0 && $vo.user_id=$user_id"}
            <div class="pull-right red"><i class="icon-like"></i> {$vo.star}</div>
            {else /}
            <div class="pull-right" onclick="star(this)"><i class="icon-like-outline m-r-s"></i> {$vo.star}</div>
            {/if}
            <!--<span class="pull-right m-r"><i class="icon-feedback"></i>{$vo.commit_count}</span>-->
            <span class="pull-right m-r click-count"><i class="icon-footmark m-r-s"></i> {$vo.click_count}</span>
        </div>
        <div class="tag">
            {volist name="vo['tag']" id="votag"}
            <span class="badge badge-radius badge-{$tag_style[$votag]}">{$votag}</span>
            {/volist}
        </div>
    </div>
</div>
{else /}
<div class="grid-item" data-id="{$vo.id}">
    <video src="{$vo.content}" controls poster="{$vo.image}" onplay="video_click(this)"></video>

    <div class="grid-item-bottom">
        <h2 class="list-title">{$vo.title}</h2>
        {if condition="$user_id > 0 && $vo.user_id=$user_id"}
        <div class="pull-right red"><i class="icon-like m-r-s"></i> {$vo.star}</div>
        {else /}
        <div class="pull-right" onclick="star(this)"><i class="icon-like-outline"></i> {$vo.star}</div>
        {/if}
        <!--<span class="pull-right m-r"><i class="icon-feedback"></i>{$vo.commit_count}</span>-->
        <span class="pull-right m-r click-count"><i class="icon-footmark m-r-s"></i><span class="num">{$vo.click_count}</span></span>
        <div class="tag">
            {volist name="vo['tag']" id="votag"}
            <span class="badge badge-radius badge-{$tag_style[$votag]}">{$votag}</span>
            {/volist}
        </div>
    </div>

</div>
{/if}
{/volist}