{include file="public/header" /}
<link href="/static/plugins/blueimp/blueimp-gallery.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/plugins/webuploader/webuploader.css">
<style>
    #picker div:nth-child(2) {
        width: 100% !important;
        height: 100% !important;
    }

    #theList li {
        list-style: none;
        width: 50%;
    }

    #theList li span {
        margin: 0 5px;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox m-b-none">
                <div class="ibox-title">
                    <button class="btn btn-xs btn-success" onclick="$('#article-modal').modal('show');">添加</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">NEW</span>
                    <h5>IT-01 - Design Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a5.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg"></a>
                    </div>
                    <h4>Info about Design Team</h4>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">95%</div>
                        <div class="progress progress-mini">
                            <div style="width: 95%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            12
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            4th
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">BUDGET</div>
                            $200,913 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-02 - Developers Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#"><img alt="member" class="img-circle" src="img/a8.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg"></a>
                    </div>
                    <h4>Info about Design Team</h4>
                    <p>
                        Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">61%</div>
                        <div class="progress progress-mini">
                            <div style="width: 61%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            43
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            1th
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">BUDGET</div>
                            $705,913 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">

                    <h5>IT-02 - Graphic Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg"></a>
                    </div>
                    <h4>Info about Design Team</h4>
                    <p>
                        Very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">82%</div>
                        <div class="progress progress-mini">
                            <div style="width: 82%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            68
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            2th
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">BUDGET</div>
                            $701,400 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--<video id="video" controls="controls" onpause="captureImage()" onloadeddata="captureImage()">-->
    <!--<source src="/mov_bbb.mp4">-->
    <!--</video>-->
    <!--<div id="imgbox"></div>-->

    <div class="modal inmodal" id="article-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeModalComm(this)"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title">添加/修改 文章视频</h5>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"> 图文</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2"> 视频</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">

                                        <fieldset class="form-horizontal">
                                            <div class="form-group"><label class="col-sm-2 control-label">标题:</label>
                                                <div class="col-sm-10"><input type="text" name="title" class="form-control" placeholder="文章标题"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">封面图片:</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" placeholder="$160.00"></div>
                                            </div>

                                            <div class="form-group"><label class="col-sm-2 control-label">内容:</label>
                                                <div class="col-sm-10">
                                                    <script id="container" name="content" type="text/plain"></script>
                                                </div>
                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">

                                        <fieldset class="form-horizontal">
                                            <div class="form-group"><label class="col-sm-2 control-label">标题:</label>
                                                <div class="col-sm-10"><input type="text" name="title2" class="form-control" placeholder="视频标题"></div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">上传视频:</label>
                                                <div class="col-sm-10">
                                                    <div id="uploader">
                                                        <ul id="theList"></ul>
                                                        <span class="btn btn-primary" id="picker">选择文件</span>
                                                        <input type="file" id="select2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group"><label class="col-sm-2 control-label">封面图片:</label>
                                                <div class="col-sm-10" id="imgbox" style="width: 200px;min-height: 100px;">
                                                </div>
                                            </div>

                                        </fieldset>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" onclick="closeModalComm(this);">关 闭</button>
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="/static/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script src="/static/plugins/ueditor/ueditor.config.js"></script>
<script src="/static/plugins/ueditor/ueditor.all.min.js"></script>
<script src="/static/plugins/qiniu/qiniu.min.js"></script>
<script>
    var ue, token,cdn;
    var options = {
        host: "http://upload-z1.qiniup.com/",
        tokenUrl: "/admin/index/uploadToken",
        domain: "",//cdn
        mockToken: false,
        mockTokenValue: '',
        hash: true
    };
    var video = document.getElementById("video");
    var imgbox = document.getElementById("imgbox");
    var captureImage = function () {
        var canvas = document.createElement("canvas");//创建一个canvas
        canvas.width = video.videoWidth;//设置canvas的宽度为视频的宽度
        canvas.height = video.videoHeight;//设置canvas的高度为视频的高度
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);//绘制图像

        var img = document.createElement("img");//创建img
        img.src = canvas.toDataURL("image/png");//将绘制的图像用img显示出来
        if (imgbox.childNodes.length) {
            imgbox.replaceChild(img, imgbox.firstChild);//将img添加到imgbox里
        } else {
            imgbox.appendChild(img);
        }

    };

    ue = UE.getEditor('container', {
        toolbars: [[
            'fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'fontfamily', 'fontsize', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
            'link', 'unlink', 'anchor', '|',
            'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'pagebreak', 'template', 'background', '|',
            'horizontal', 'date', 'time', 'spechars', 'snapscreen', '|',
            'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
            'searchreplace', 'drafts'
        ]],
        autoFloatEnable: true
    });

    function getUpToken() {
        $.ajax({
            type: 'POST',
            url: '/admin/index/uploadToken',
            success: function (data) {
                token = data.token;
                cdn = data.cdn;
            },
            error: function (e) {
                toastr.error('获取上传token失败');
            }
        });
    }
    getUpToken();
    var config = {
        useCdnDomain: true,
        disableStatisticsReport: false,
        retryCount: 6,
        region: qiniu.region.z1
    };
    var putExtra = {
        fname: "",
        params: {},
        mimeType: null
    };

    $("#select2").unbind("change").bind("change", function () {
        var file = this.files[0];
        // eslint-disable-next-line
        var finishedAttr = [];
        // eslint-disable-next-line
        var compareChunks = [];
        var observable;
        if (file) {
            var key = file.name;
            // 添加上传dom面板
            // var board = addUploadBoard(file, config, key, "");
            // if (!board) {
            //   return;
            // }
            putExtra.params["x:name"] = key.split(".")[0];
            // board.start = true;
            // var dom_total = $(board)
            //   .find("#totalBar")
            //   .children("#totalBarColor");

            // 设置next,error,complete对应的操作，分别处理相应的进度信息，错误信息，以及完成后的操作
            var error = function (err) {
                debugger;
                // board.start = true;
                // $(board).find(".control-upload").text("继续上传");
                // console.log(err);
                alert("上传出错");
            };

            var complete = function (res) {
                //todo
            };

            var next = function (response) {
                var chunks = response.chunks || [];
                var total = response.total;
                // 这里对每个chunk更新进度，并记录已经更新好的避免重复更新，同时对未开始更新的跳过
                for (var i = 0; i < chunks.length; i++) {
                    if (chunks[i].percent === 0 || finishedAttr[i]) {
                        continue;
                    }
                    if (compareChunks[i].percent === chunks[i].percent) {
                        continue;
                    }
                    if (chunks[i].percent === 100) {
                        finishedAttr[i] = true;
                    }
                    // $(board)
                    //     .find(".fragment-group li")
                    //     .eq(i)
                    //     .find("#childBarColor")
                    //     .css(
                    //         "width",
                    //         chunks[i].percent + "%"
                    //     );
                }
                // $(board).find(".speed").text("进度：" + total.percent + "% ");
                // dom_total.css("width", total.percent + "%");
                compareChunks = chunks;
            };

            var subObject = {
                next: next,
                error: error,
                complete: complete
            };
            var subscription;
            // 调用sdk上传接口获得相应的observable，控制上传和暂停
            debugger;
            observable = qiniu.upload(file, key, token, putExtra, config);
            subscription = observable.subscribe(subObject);
            // $(board)
            //   .find(".control-upload")
            //   .on("click", function() {
            //     if(board.start){
            //       $(this).text("暂停上传");
            //       board.start = false;
            //       subscription = observable.subscribe(subObject);
            //     }else{
            //       board.start = true;
            //       $(this).text("继续上传");
            //       subscription.unsubscribe();
            //     }
            //   });
        }
    });


</script>
{include file="public/footer" /}