<div class="modal inmodal" id="order-add-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeModalComm(this);vm.edit={};"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h5 class="modal-title">添加/修改 会员资料</h5>
            </div>
            <form id="order-add-form" class="form-horizontal">
                <div class="modal-body" v-if="edit.hasOwnProperty('user_id')">
                    <input type="hidden" v-model="edit.user_id" name="user_id">
                    <div class="form-group"><label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10"><input v-model="edit.name" type="text" class="form-control" name="name" id="name"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-10"><input v-model="edit.nickname" type="text" class="form-control" name="nickname" id="nickname"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">手机号码</label>
                        <div class="col-sm-10"><input v-model="edit.phone" type="text" class="form-control" name="phone" id="phone" autocomplete="off"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">登陆密码</label>
                        <input type="password" class="hidden"/>
                        <div class="col-sm-10"><input type="password" class="form-control" name="password" autocomplete="off"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label" for="level">会员等级</label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="level" id="level" v-model="edit.level">
                                <option v-for="(lv,key) in level" :value="key">{{lv}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">性别</label>

                        <div class="col-sm-10">
                            <label class="i-checks m-r-lg"> <input type="radio" v-model="edit.sex" value="0" name="sex"> <i></i> 美女 </label>
                            <label class="i-checks"> <input type="radio" v-model="edit.sex" value="1" name="sex"> <i></i> 鲜森 </label>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">住址</label>
                        <div class="col-sm-10"><input type="text" v-model="edit.address" class="form-control" name="address" autocomplete="off"></div>
                    </div>

                </div>
                <div class="modal-body" v-else>
                    <div class="form-group"><label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="name" id="name"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="nickname" id="nickname"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">手机号码</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="phone" id="phone" autocomplete="off"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">登陆密码</label>
                        <input type="password" class="hidden"/>
                        <div class="col-sm-10"><input type="password" class="form-control" name="password" autocomplete="off"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label" for="level">会员等级</label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="level" id="level">
                                <option v-for="(lv,key) in level" :value="key">{{lv}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">性别</label>

                        <div class="col-sm-10">
                            <label class="i-checks m-r-lg"> <input type="radio" checked="" value="0" name="sex"> <i></i> 美女 </label>
                            <label class="i-checks"> <input type="radio" value="1" name="sex"> <i></i> 鲜森 </label>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group"><label class="col-sm-2 control-label">住址</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="address" autocomplete="off"></div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" onclick="closeModalComm(this);vm.edit={};">关 闭</button>
                    <button type="submit" class="btn btn-primary">保 存</button>
                </div>
            </form>
        </div>
    </div>
</div>



methods: {
toggleStatus: function (user_id, status, index) {
axios.post('/admin/index/changeTableVal', {
'table': 'users',
'id_name': 'user_id',
'id_value': user_id,
'field': 'is_valid',
'value': status,
}).then(function (response) {
if (response){
vm.list[index].is_valid = status;
// vm.list.splice(index,1);
}
else
err('操作失败');
}).catch(function (error) {
console.log(error);
});
},
editUser:function(index){
vm.edit=vm.list[index];
$('#order-add-modal').modal('show');
},
delUser:function(user_id,index){
axios.post('/admin/index/changeTableVal', {
'table': 'users',
'id_name': 'user_id',
'id_value': user_id,
'field': 'is_delete',
'value': 1,
}).then(function (response) {
if (response){
vm.list.splice(index,1);
}
else
err('操作失败');
}).catch(function (error) {
console.log(error);
});
}
},