{include file="public/header" /}
{include file="public/breadcrumb" /}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Timeline - version 2</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Miscellaneous</a>
            </li>
            <li class="active">
                <strong>Timeline v.2</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="text-center float-e-margins p-md">
                    <span>Turn on/off color/background or orientation version: </span>
                    <a href="#" class="btn btn-xs btn-primary" id="lightVersion">Light version</a>
                    <a href="#" class="btn btn-xs btn-primary" id="darkVersion">Dark version</a>
                    <a href="#" class="btn btn-xs btn-primary" id="leftVersion">Left version</a>
                </div>
                <div class="ibox-content" id="ibox-content">

                    <div id="vertical-timeline" class="vertical-container dark-timeline">

                        <div class="vertical-timeline-block" v-for="(vo,index) in info">
                            <div class="vertical-timeline-icon blue-bg">
                                <i class="fa fa-file-text"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>{{type[vo.type]}}</h2>
                                <p></p>
                                <button v-if="vo.link_id>0" @click="show_detail(vo.bid)" class="btn btn-sm btn-success"> 查看详情</button>
                                <span class="vertical-date">
                                        {{dateparse(vo.add_time,1)}} <br/>
                                        <small style="color:#ed5565">{{dateparse(vo.add_time,1,1)}}</small>
                                    </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script>
    var vm = new Vue({
        el: '#ibox-content',
        data: {
            user_id: "{$user_id}",
            info: {},
            type: [],
            className: []
        },
        created: function () {
            var that = this;
            axios.post('/admin/member/behavior', {
                'user_id': that.user_id
            }).then(function (response) {
                vm.info = response.data.info;
                vm.type = response.data.type;
            }).catch(function (error) {
                err(error.response.data);
            });
        },
        methods: {
            show_detail: function (bid) {
                axios.post('/admin/member/behavior_detail', {
                    'bid': bid
                }).then(function (res) {
                    $("#detail .modal-body").html(res.data);
                    $('#detail .modal-title').html($("#comment").val());
                    $("#detail").modal('show');
                }).catch(function (error) {
                    err(error.response.data);
                });
            }
        }
    });

    $("#detail").on('hidden.bs.modal', function () {
        $('#detail .modal-title').html('');
        $("#detail .modal-body").html('');
    });
</script>

{include file="public/footer" /}