{include file="public/header" /}
<link href="/static/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
<div class="ibox-content m-b-sm border-bottom p-m-10 tooltip-demo">
    <div class="row" id="search-bar">
        <form id="top-search">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label" for="nameorphone">搜索词</label>
                    <input type="text" id="nameorphone" name="nameorphone" value="" placeholder="手机号/名字/昵称" class="form-control" @keydown.enter.prevent="document.getElementById('search_btn').dispatchEvent(new Event('click'));">
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button id="search_btn" type="button" class="ladda-button btn btn-primary btn-block" data-style="expand-right">Search !</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="text-center float-e-margins p-h-xs">
    <button class="btn btn-xs btn-success active" @click="selectDate(0)">30天日志</button>
    <button class="btn btn-xs btn-default" @click="selectDate(1)">90天日志</button>
    <button class="btn btn-xs btn-default" @click="selectDate(2)">今年...</button>
</div>

<div class="row m-t-lg" v-cloak>
    <div class="col-md-6">

        <div class="profile-image">
            <img src="http://scsj-v2-bos.bj.bcebos.com/headImg/default.jpg" class="img-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">
                        {{user.name || user.nickname}}
                    </h2>
                    <h4>{{user.level}}</h4>
                    <small>
                        <i class="fa fa-map-marker"></i> &nbsp;{{user.address}}<br/>
                        <i class="fa fa-birthday-cake"></i> &nbsp;{{user.birthday}}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <table class="table small m-b-xs">
            <tbody>
            <tr v-for="(item,index) in user.statis">
                <td>
                    {{item[0]}}
                </td>
                <td>
                    <strong>{{item[1]}}</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <small>累计充值</small>
        <h2 class="no-margins">{{user.total_recharge}} 元</h2>
        <div id="sparkline1"></div>
        <div id="content"></div>
    </div>
</div>

<div class="wrapper wrapper-content" v-cloak>
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" id="ibox-content">

                    <div id="vertical-timeline" class="vertical-container dark-timeline">

                        <div class="vertical-timeline-block" v-for="(vo,index) in info">
                            <div class="vertical-timeline-icon blue-bg">
                                <i class="fa fa-file-text"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>{{type[vo.type]}}</h2>
                                <p></p>
                                <button v-if="vo.link_id>0" @click="show_detail(vo.bid)" class="btn btn-sm btn-success"> 查看详情</button>
                                <span class="vertical-date">
                                        {{dateparse(vo.add_time,1)}} <br/>
                                        <small style="color:#ed5565">{{dateparse(vo.add_time,1,1)}}</small>
                                    </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/plugins/ladda/spin.min.js"></script>
<script src="/static/plugins/ladda/ladda.min.js"></script>
<script src="/static/plugins/ladda/ladda.jquery.min.js"></script>
<script src="/static/plugins/sparkline/jquery.sparkline.min.js"></script>
<script>
    var search_btn;
    $(function () {
        search_btn = $('#search_btn').ladda();
        search_btn.click(function () {
            var obj = $('#nameorphone');
            if (!$.trim(obj.val())) {
                err('请输入搜索词 !');
                obj.focus();
                return;
            }
            search_btn.ladda('start');
            $.ajax({
                type: 'POST',
                url: '/admin/member/getUserInfo',
                data: {nameorphone: obj.val()},
                success: function (data) {
                    initial(data.user_id, vm.status, true);
                },
                error: function (xhr, type) {
                    search_btn.ladda('stop');
                    err(xhr.responseText);
                }
            });
        });

//        $("#sparkline1").bind('sparklineRegionChange', function (ev) {
//            var sparkline = ev.sparklines[0],
//                region = sparkline.getCurrentRegionFields()[0];
//            $("#content").text(vm.timeline[region.offset] + ' 充值 ' + region.value + ' 元.');
//        }).bind('mouseleave', function () {
//            $("#content").text('');
//        });
    });

    function initial(user_id, status, flag) {
        axios.post('/admin/member/behavior', {
            'user_id': user_id,
            'status': status
        }).then(function (response) {
            vm.info = response.data.info;
            vm.type = response.data.type;
            vm.status = status;
            vm.user = response.data.user;
            vm.user_id = vm.user.user_id;
            vm.graph = response.data.graph_data.data;
            vm.timeline = response.data.graph_data.timeline;
            if (typeof(flag) != 'undefined') {
                toastr.clear();
                toastr.success('搜索结果已更新');
                search_btn.ladda('stop');
            }
        }).catch(function (error) {
            toastr.error(error);
        });
    }

    var vm = new Vue({
        el: '#wrapper',
        data: {
            user_id: "{$user_id}",
            status: 0,
            info: {},
            type: [],
            user: {},
            className: [],
            graph: [],
            timeline: []
        },
        created: function () {
            initial(this.user_id, this.status);
        },
        methods: {
            show_detail: function (bid) {
                axios.post('/admin/member/behavior_detail', {
                    'bid': bid
                }).then(function (res) {
                    $("#detail .modal-body").html(res.data);
                    $('#detail .modal-title').html($("#comment").val());
                    $("#detail").modal('show');
                }).catch(function (error) {
                    err(error.response.data);
                });
            },
            selectDate: function (type) {
                if (this.status == type)
                    return;
                initial(this.user_id, type, true);
                $(event.target).removeClass('btn-default').addClass('btn-success active').siblings().removeClass('btn-success active').addClass('btn-default');
            }
        },
        updated: function () {
            $("#sparkline1").sparkline(vm.graph, {
                type: 'bar',
                barWidth: 8,
                height: '5rem',
                barColor: '#1ab394',
                negBarColor: '#c6c6c6',
                tooltipFormat: '{{offset:offset}} 充值： {{value}}',
                tooltipValueLookups: {
                    'offset': vm.timeline
                }
            });
        }
    });

    $("#detail").on('hidden.bs.modal', function () {
        $('#detail .modal-title').html('');
        $("#detail .modal-body").html('');
    });
</script>

{include file="public/footer" /}