{include file="public/header" /}
{include file="public/breadcrumb" /}
<link href="/static/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="/static/plugins/iCheck/custom.css" rel="stylesheet">
<div class="wrapper wrapper-content animated fadeInRight ecommerce tooltip-demo" style="padding-top:10px">

    <div class="ibox-content m-b-sm border-bottom p-m-10">
        <div class="row" id="search-bar">
            <form id="top-search">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="type">订单类型</label>
                        <select name="type" id="type" v-model="type" class="form-control">
                            <option value="0">正常</option>
                            <option value="1">赠送</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="start_time">开始时间</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="start_time" name="start_time" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="end_time">结束时间</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="end_time" name="end_time" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="nameorphone">搜索词</label>
                        <input type="text" id="nameorphone" name="nameorphone" value="" placeholder="手机号/名字/昵称" class="form-control">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-primary btn-block" data-tip="tooltip" data-placement="top" data-original-title="搜索">Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <table class="footable table table-stripped" data-page-size="15">
                        <thead>
                        <tr>
                            <th data-toggle="true" class="first-td">订单编号</th>
                            <th data-hide="phone">充值金额</th>
                            <th>付款金额</th>
                            <th data-hide="phone">跟单</th>
                            <th data-hide="phone,tablet">会员姓名</th>
                            <th data-hide="phone,tablet">头像</th>
                            <th data-hide="phone,tablet">会员等级</th>
                            <th data-hide="phone,tablet">累计充值</th>
                            <th>支付时间</th>
                            <th data-hide="phone,tablet">下单时间</th>
                            <th data-hide="phone">状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(order,index) in list">
                            <td class="first-td">
                                {{order.order_sn}}
                            </td>
                            <td>
                                {{order.order_amount}}
                            </td>
                            <td>
                                {{order.pay_amount}}
                            </td>
                            <td>
                                <span class="text-danger">{{admin[order.confirm_id]}}</span>
                            </td>
                            <td>
                                {{order.name|order.nickname}}
                            </td>
                            <td>
                                <img :src="order.avatar" :error="defaultImg(index)" :alt="order.name" class="img-circle">
                            </td>
                            <td>
                                {{order.level_name}}
                            </td>
                            <td>
                                <span class="text-success">{{order.total_recharge}}</span>
                            </td>
                            <td>
                                {{order.pay_time}}
                            </td>
                            <td>
                                {{order.add_time}}
                            </td>
                            <td>
                                {{order.status}}
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="text-success">
                            <td></td>
                            <td>小计:</td>
                            <td>{{sum_amount}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="text-danger">
                            <td></td>
                            <td>总计:</td>
                            <td>{{total_amount}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div class="pull-left" id="member-add">
                                    <button class="btn btn-outline btn-primary btn-xs btn-xs" type="button" onclick="$('#order-add-modal').modal('show');" data-target="#order-add-modal" data-tip="tooltip" data-placement="right" data-original-title="新增订单"><i class="fa fa-plus"></i></button>
                                </div>
                                <span style="clear:both"></span>
                                {{page_str}}
                                <!--<ul class="pagination pull-right"></ul>-->
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="order-add-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeModalComm(this);vm.user={};"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title">会员充值</h5>
                </div>
                <form id="order-add-form" class="form-horizontal">
                    <div class="modal-body">
                        <input type="hidden" v-model="user.user_id" name="user_id">
                        <div class="form-group"><label class="col-sm-2 control-label">手机号码</label>
                            <div class="col-sm-10"><input v-model="user.phone" type="text" name="phone" class="form-control" v-on:keyup="getUser($event)"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10"><input v-model="user.name" type="text" class="form-control" v-on:keyup="getUser($event)"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">昵称</label>
                            <div class="col-sm-10"><input v-model="user.nickname" type="text" class="form-control" readonly></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">住址</label>
                            <div class="col-sm-10"><input type="text" v-model="user.address" class="form-control" readonly></div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group"><label class="col-sm-2 control-label">充值金额</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="order_amount"></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" onclick="closeModalComm(this);vm.user={};">关 闭</button>
                        <button type="submit" class="btn btn-primary">保 存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/vue.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/plugins/footable/footable.all.min.js"></script>
<script src="/static/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/static/plugins/layer/mobile/layer.js"></script>
<script src="/static/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.footable').footable();

        $('#search-bar .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $("#top-search").validate({
            rules: {
                create_time: {
                    date: true
                },
                last_time: {
                    date: true
                },
                nameorphone: {
                    minlength: 1
                }
            },
            messages: {
                create_time: "注册时间 错误",
                last_time: "到店时间 错误",
                nameorphone: "手机号/名字 长度错误"
            },
            submitHandler: function (form) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/member/recharge',
                    data: $(form).serialize(),
                    success: function (data) {
                        layer.open({
                            content: '数据已更新',
                            skin: 'msg',
                            time: 1
                        });
                        vm.list = data[0];
                    },
                    error: function (xhr, type) {
                        err(xhr.responseText);
                    }
                });
            }
        });

        $("#order-add-form").validate({
            rules: {
                phone: {
                    required: true,
                    digits: true
                }
            },
            messages: {
                phone: "手机号码格式错误"
            },
            submitHandler: function (form) {
                if (!document.getElementById('name').value && !document.getElementById('nickname').value) {
                    layer.open({content: '清填写姓名或昵称', skin: 'msg', time: 1.5});
                    return false;
                }
                var reg = /(^1[3|4|5|7|8][0-9]{9}$)/;
                if (!reg.test(document.getElementById('phone').value)) {
                    layer.open({content: '手机号码格式错误', skin: 'msg', time: 1.5});
                    return false;
                }

                $.ajax({
                    type: 'POST',
                    url: '/admin/member/addEditMember',
                    data: $(form).serialize(),
                    success: function (data) {
                        layer.open({
                            content: '保存成功',
                            skin: 'msg',
                            time: 1,
                            end: function (elem) {
                                location.reload();
                            }
                        });
                    },
                    error: function (xhr, type) {
                        err(xhr.responseText);
                    }
                });
            }
        });
    });

    var timer;

    var vm = new Vue({
        el: '#wrapper',
        data: {
            type: 0,
            list: [],
            admin: [],
            sum_amount: 0,
            total_amount: 0,
            page_str: '',
            user: {}
        },
        created: function () {
            init();
        },
        methods: {
            getUser: function (event) {
                clearTimeout(timer);
                timer = setTimeout("ajax_get_user()", 1000);
            },
            defaultImg: function (index) {
                vm.list[index].avatar = 'http://scsj-v2-bos.bj.bcebos.com/headImg/default.jpg';
            }
        },
        updated: function () {
            if (vm.list.length)
                $('.footable').trigger('footable_initialize');

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });
        }
    });

    function init() {
        $.ajax({
            type: 'POST',
            url: '/admin/member/recharge',
            success: function (data) {
                vm.list = data[0];
                vm.admin = data[1];
                vm.page_str = data[2];
                vm.sum_amount = data[3];
                vm.total_amount = data[4];
            },
            error: function (xhr, type) {
                err(xhr.responseText);
            }
        });
    }

    function ajax_get_user() {
        axios.post('/admin/member/index', {
            'nameorphone': vm.user.phone || vm.user.name
        }).then(function (response) {
            if (response.data[0][0]) {
                vm.user = response.data[0][0];
            } else {
                layer.open({content: '无会员资料', skin: 'msg', time: 1.5,end:function(){vm.user = {};}});
            }
        }).catch(function (error) {
            layer.open({content: error, skin: 'msg'});
        });
    }

</script>
{include file="public/footer" /}