{include file="public/header" /}
{include file="public/breadcrumb" /}
<link href="/static/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="/static/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="/static/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/static/plugins/switchery/switchery.css" rel="stylesheet">
<link href="/static/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
<div class="wrapper wrapper-content animated fadeInRight ecommerce tooltip-demo" style="padding-top:10px">

    <div class="ibox-content m-b-sm border-bottom p-m-10">
        <div class="row" id="search-bar">
            <form id="top-search" method="post" action="/admin/member/recharge.html">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="type">订单类型</label>
                        <select name="type" id="type" v-model="type" class="form-control">
                            <option value="false">所有订单</option>
                            <option value="1">包含赠送</option>
                            <option value="0">不含赠送</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="start_time">开始时间</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="start_time" name="start_time" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="end_time">截止时间</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="end_time" name="end_time" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label" for="nameorphone">搜索词</label>
                        <input type="text" id="nameorphone" name="nameorphone" value="" placeholder="手机号/名字/昵称" class="form-control">
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-primary btn-block" data-tip="tooltip" data-placement="top" data-original-title="搜索">Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="rechargetable">
                            <thead>
                            <tr>
                                <th>会员</th>
                                <th>订单编号</th>
                                <th>付款金额</th>
                                <th>订单金额</th>
                                <th>跟单</th>
                                <th>头像</th>
                                <th>支付时间</th>
                                <th>下单时间</th>
                                <th>状态</th>
                                <th>订单详情</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(order,index) in list">
                                <td class="first-td">{{order.name||order.nickname}}</td>
                                <td>{{order.order_sn}}</td>
                                <td>{{order.order_amount}}</td>
                                <td>{{order.pay_amount}}</td>
                                <td><span class="text-danger">{{admin[order.confirm_id]['nickname'] || admin[order.confirm_id]['name']}}</span></td>
                                <td>
                                    <img :src="order.avatar" :error="defaultImg(index)" :alt="order.name" class="img-circle chat-avatar">
                                </td>
                                <td>{{order.pay_time}}</td>
                                <td>{{order.add_time}}</td>
                                <td>{{order.status}}</td>
                                <td class="text-center"><button class="btn btn-xs btn-outline btn-primary" @click="viewOrder(order.order_id)">查看</button></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="text-danger">
                                <td></td>
                                <td>总计:</td>
                                <td>{{total_amount}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="order-add-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeModalComm(this);vm.user={};"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h5 class="modal-title">会员充值</h5>
                </div>
                <form id="order-add-form" class="form-horizontal" @submit.native.prevent>
                    <div class="modal-body">
                        <input type="hidden" v-model="user.user_id" name="user_id">
                        <div class="form-group"><label class="col-sm-2 control-label">手机号码</label>
                            <div class="col-sm-10"><input v-model="user.phone" id="phone" type="text" name="phone" class="form-control" v-on:keydown.enter.prevent="ajax_get_user()" placeholder="请输入手机号，按下enter键自动搜索"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10"><input v-model="user.name" id="name" type="text" class="form-control" v-on:keydown.enter.prevent="ajax_get_user(true)" placeholder="输入姓名或昵称，按下enter键自动搜索"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">昵称</label>
                            <div class="col-sm-10"><input v-model="user.nickname" id="nickname" type="text" class="form-control" readonly></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">余额</label>
                            <div class="col-sm-10"><input v-model="user.money" type="text" class="form-control text-danger" readonly></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">积分</label>
                            <div class="col-sm-10"><input v-model="user.points" type="text" class="form-control text-danger" readonly></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">住址</label>
                            <div class="col-sm-10"><input type="text" v-model="user.address" class="form-control" readonly></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">跟单</label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" name="confirm_id" v-model="confirm_id" :arrt="confirm_id">
                                    <option v-for="(item,key) in admin" :value="item.id">{{item.name || item.nickname}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">选择服务</label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" @change="afterSelectItem($event)">
                                    <option value="0" selected>请选择</option>
                                    <option v-for="(item,key) in items" :value="key">{{item.first_letter}} ---- {{item.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">赠&nbsp;&nbsp;送</label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" @change="giveSelectItem($event)">
                                    <option value="0" selected>请选择</option>
                                    <option v-for="(item,key) in items" :value="key">{{item.first_letter}} ---- {{item.title}}</option>
                                </select>
                            </div>
                        </div>

                        <selected-item v-for="i in selected" v-bind="i" v-on:delselect="del($event,0)"></selected-item>
                        <give-item v-for="g in give" v-bind="g" v-on:delselect="del($event,1)"></give-item>

                        <div class="form-group"><label class="col-sm-2 control-label">订单金额</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-4"><input type="text" class="form-control text-danger" name="total_amount" v-model="calc_price" id="total_amount" readonly></div>
                                    <label class="col-sm-2 control-label">共节省</label>
                                    <div class="col-sm-4"><input type="text" class="form-control" v-model="save_price" readonly></div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label">使用余额</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-4">
                                        <input type="checkbox" class="js-switch form-control" v-model="use_money"/>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="number" class="form-control " name="use_money" v-if="use_money" v-model="use_money_num" min="0">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">使用积分</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-4">
                                        <input type="checkbox" class="js-switch2 form-control" v-model="use_points"/>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="number" class="form-control " name="use_points" v-if="use_points" v-model="use_points_num" min="0">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">店长调价</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-4">
                                        <input type="checkbox" class="js-switch3 form-control" v-model="manager_reduce"/>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <input type="number" class="form-control " name="manager_reduce" v-if="manager_reduce" v-model="manager_reduce_num">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">实付金额</label>
                            <div class="col-sm-10"><input type="number" class="form-control text-success" name="pay_amount" v-model="pay_amount"></div>
                            <input type="hidden" name="order_amount" v-model="order_amount" id="order_amount">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <span class="pull-left m-l-lg">应付金额 ￥{{order_amount}}</span>
                        <button type="button" class="btn btn-white" onclick="closeModalComm(this);vm.user={};">关 闭</button>
                        <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-in" id="ladda-btn">
                            <i class="fa fa-thumbs-up" v-if="amount_valid"></i>
                            <i class="fa fa-warning" v-else></i>
                            保 存
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal inmodal fade" id="order-detail" tabindex="-2" role="dialog"  aria-hidden="true" data-backdrop="static" data-keyboard=false>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">订单详情</h4>
                    <small class="text-muted">实时预约，方便会员立即消费.</small>
                </div>
                <div class="modal-body">
                    <div class="ibox-content">
                        <div class="row">
                            <dl class="dl-horizontal">
                                <dt>订单编号</dt>
                                <dd>{{order_detail.order.order_sn}}</dd>
                                <dt>支付时间</dt>
                                <dd>{{order_detail.order.pay_time}}</dd>
                                <dt>服务项目合计金额</dt>
                                <dd>￥ {{order_detail.order.order_amount}}</dd>
                                <dt v-if="order_detail.order.order_prom_amount>0">订单活动减免</dt>
                                <dd v-if="order_detail.order.order_prom_amount>0">￥ {{order_detail.order.order_prom_amount}}</dd>

                                <dt v-if="order_detail.order.manager_reduce>0">商家优惠金额</dt>
                                <dd v-if="order_detail.order.manager_reduce>0">￥ {{order_detail.order.manger_reduce}}</dd>

                                <dt v-if="order_detail.order.coupon_amount>0">优惠券抵扣</dt>
                                <dd v-if="order_detail.order.coupon_amount>0">￥ {{order_detail.order.coupon_amount}}</dd>

                                <dt v-if="order_detail.order.points_amount>0">积分抵扣</dt>
                                <dd v-if="order_detail.order.points_amount>0">￥ {{order_detail.order.points_amount}}</dd>
                                <dt>实付金额</dt>
                                <dd class="text-danger">￥ {{order_detail.order.pay_amount}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <ul class="sortable-list connectList agile-list" id="completed">
                            <li :class="[item.dec_num>0?'info-element':'success-element']" v-for="(item,index) in order_detail.order_item">
                                {{item.title}}
                                <div class="agile-detail">
                                    <a onclick="javascript:;" class="pull-right btn btn-xs btn-danger" disabled="disabled" v-if="item.dec_num==0">已全部消费</a>
                                    <a @click="getQrcode(item.id)" data-repeat="0" class="pull-right btn btn-xs btn-success" v-else>立即预约</a>
                                    <i class="fa fa-battery"></i>&nbsp;<span class="text-success">服务次数：{{item.num}}</span><br />
                                    <i :class="['fa','fa-battery-'+Math.round(item.dec_num/item.num*4)]"></i>&nbsp;<span class="text-danger">剩余次数：{{item.dec_num}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/vue.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/plugins/dataTables/datatables.min.js"></script>
<script src="/static/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/static/plugins/datapicker/datetimepicker.zh-CN.js"></script>
<script src="/static/plugins/layer/mobile/layer.js"></script>
<script src="/static/plugins/iCheck/icheck.min.js"></script>
<script src="/static/plugins/switchery/switchery.js"></script>
<script src="/static/plugins/ladda/spin.min.js"></script>
<script src="/static/plugins/ladda/ladda.min.js"></script>
<script src="/static/plugins/ladda/ladda.jquery.min.js"></script>
<script>
    var l;
    $(document).ready(function () {
        $('#rechargetable').DataTable({
            pageLength: 10,
            responsive: true,
            order:[[6,'desc']],
            bInfo:true,//不显示分页信息
            aoColumnDefs: [
                {"orderable":false,"aTargets":[5]}// 制定列不参与排序
            ],
            language: {
                info: "当前显示第 _START_ 至 _END_ 条, 共 _TOTAL_ 条记录",
                lengthMenu:"每页显示 _MENU_ 条",
                search:"快速搜索",
                searchPlaceholder:'会员性名/昵称/手机号'
            },
            dom: '<"html5buttons"B>lTfgtip',
            buttons: [
                {extend: 'copy'},
                {extend: 'excel', title: 'ExampleFile'},
                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                {
                    sExtends: 'add',
                    text:'充值',
                    action: function ( e, dt, node, config ){
                        $('#order-add-modal').modal('show');
                        getItems();
                    }
                }
            ]
        });

        l=$('.ladda-button').ladda();

        var elem = document.querySelector('.js-switch');
        switchery = new Switchery(elem, {color: '#1AB394', size: 'small'});

        var elem2 = document.querySelector('.js-switch2');
        switchery2 = new Switchery(elem2, {color: '#f8ac59', size: 'small'});

        var elem3 = document.querySelector('.js-switch3');
        switchery3 = new Switchery(elem3, {color: '#ED5565', size: 'small'});

        $('#search-bar .input-group.date').datepicker({
            language:  'zh-CN',
            format: 'yyyy-mm-dd',
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $("#top-search").validate({
            rules: {
                start_time: {
                    date: true
                },
                end_time: {
                    date: true
                },
                nameorphone: {
                    minlength: 1
                }
            },
            messages: {
                create_time: "开始时间 错误",
                last_time: "截止时间 错误",
                nameorphone: "手机号/名字 长度错误"
            }
        });

        $("#order-add-form").validate({
            rules: {
                phone: {
                    required: true,
                    digits: true
                },
                total_amount: {
                    required: true,
                    number: true,
                    min: 0
                },
                order_amount: {
                    required: true,
                    number: true,
                    min: -0.01
                },
                use_money: {
                    number: true,
                    min: 0
                },
                use_points: 'digits',
                manager_reduce: {
                    number: true,
                    min: 0
                }
            },
            ignore: [],
            messages: {
                phone: "手机号码格式错误",
                total_amount: '订单金额错误',
                use_money: '余额输入错误',
                use_points: '积分必须是整数哦',
                manager_reduce: '店长调价金额错误'
            },
            submitHandler: function (form) {
                if (!document.getElementById('name').value && !document.getElementById('nickname').value) {
                    layer.open({content: '清填写姓名或昵称', skin: 'msg', time: 1.5});
                    return false;
                }
                var reg = /(^1[3|4|5|7|8][0-9]{9}$)/;
                if (!reg.test(document.getElementById('phone').value)) {
                    layer.open({content: '手机号码格式错误', skin: 'msg', time: 1.5});
                    return false;
                }

                if (vm.pay_amount < vm.order_amount){
                    layer.open({content: '付款金额不足，请确认', skin: 'msg', time: 1.5});
                    return false;
                }
                l.ladda( 'start' );
                $.ajax({
                    type: 'POST',
                    url: '/admin/member/addOrder',
                    data: $(form).serialize(),
                    success: function (data) {
                        l.ladda( 'stop' );
                        layer.open({
                            content: '保存成功',
                            skin: 'msg',
                            time: 1,
                            end: function (elem) {
                                 location.reload();
                            }
                        });
                    },
                    error: function (xhr, type) {
                        l.ladda( 'stop' );
                        err(xhr.responseText);
                    }
                });
            }
        });
    });

    var timer;

    Vue.component('selected-item', {
        props: ['item_id', 'title', 'price', 'market_price', 'service_count', 'unit'],
        template: '<div class="form-group item-select"><label class="col-sm-2 control-label">已选项目</label><div class="col-sm-10"><div class="row">' +
            '<div class="col-sm-4 col-xs-5"><span class="label label-primary vertical-span">{{title}}</span><input type="hidden" :name="\'item[\'+item_id+\']\'" v-model="item_id"> </div>' +
            '<div class="col-sm-3 col-xs-3"><input type="text" class="form-control" v-model="service_count" :name="\'serice_count[\'+item_id+\']\'"></div>' +
            '<div class="col-sm-2 col-xs-2"><span class="label label-default vertical-span">{{unit}}</span></div>' +
            '<div class="col-sm-1 col-xs-1"><a class="close-link vertical-span text-danger" :data-id="item_id" v-on:click="$emit(\'delselect\',$event.target)"><i class="fa fa-times" :data-id="item_id"></i></a></div>' +
            '</div></div></div>'
    });

    Vue.component('give-item', {
        props: ['item_id', 'title', 'price', 'market_price', 'service_count', 'unit'],
        template: '<div class="form-group item-select"><label class="col-sm-2 control-label">赠送项目</label><div class="col-sm-10"><div class="row">' +
            '<div class="col-sm-4 col-xs-5"><span class="label label-success vertical-span">{{title}}</span><input type="hidden" :name="\'give[\'+item_id+\']\'" v-model="item_id"></div>' +
            '<div class="col-sm-3 col-xs-3"><input type="text" class="form-control" v-model="service_count" :name="\'give_count[\'+item_id+\']\'"></div>' +
            '<div class="col-sm-2 col-xs-2"><span class="label label-default vertical-span">{{unit}}</span></div>' +
            '<div class="col-sm-1 col-xs-1"><a class="close-link vertical-span text-danger" :data-id="item_id" v-on:click="$emit(\'delselect\',$event.target)"><i class="fa fa-times" :data-id="item_id"></i></a></div>' +
            '</div></div></div>'
    });

    var data=JSON.parse({:json_encode($data)});
    var vm = new Vue({
        el: '#wrapper',
        data: {
            type: data.type,
            list: data.list,
            admin: data.admin,
            total_amount: data.total_amount,
            confirm_id:data.confirm_id,
            user: {},
            items: {},
            selected: [],
            give: [],
            use_money: false,
            use_money_num: 0,
            use_points: false,
            use_points_num: 0,
            manager_reduce: false,
            manager_reduce_num: 0,
            points_ratio: 1,
            pay_amount:null,
            order_detail:data.order
        },
        computed: {
            calc_price: function () {
                var temp = 0;
                var that = this;
                for (item in that.selected) {
                    temp += Number(vm.selected[item].price);
                }
                return temp;
            },
            save_price: function () {
                var temp = 0;
                var that = this;
                for (item in that.selected) {
                    temp += Number(vm.selected[item].market_price);
                }
                return temp;
            },
            order_amount: function () {
                return this.calc_price - this.use_money * this.use_money_num - this.use_points * this.use_points_num * this.points_ratio - this.manager_reduce * this.manager_reduce_num;
            },
            amount_valid: function () {
                return Number(this.pay_amount) > this.order_amount;
            }
        },
        methods: {
            getUser: function (event) {
                if (!document.querySelector('.js-switch').checked)
                    return;
                clearTimeout(timer);
                timer = setTimeout("ajax_get_user()", 1000);
            },
            defaultImg: function (index) {
                this.list[index].avatar = 'http://scsj-v2-bos.bj.bcebos.com/headImg/default.jpg';
            },
            afterSelectItem: function (e) {
                if (e.target.value == 0)
                    return;

                // $("#tagsinput").tagsinput('add',{item_id:vm.items[e.target.value].item_id,title:vm.items[e.target.value].title});
                // vm.calc_price+=Number(vm.items[e.target.value].price);
                // vm.save_price+=Number(vm.items[e.target.value].market_price)-Number(vm.items[e.target.value].price);
                vm.selected.push(vm.items[e.target.value]);
            },
            giveSelectItem: function (e) {
                if (e.target.value == 0)
                    return;

                vm.give.push(vm.items[e.target.value]);
            },
            del: function (e, flag) {
                // e.parentNode.parentNode.parentNode.parentNode.parentNode.remove();
                var item_id = e.getAttribute('data-id');
                if (flag > 0) {
                    for (item in vm.give) {
                        if (vm.give[item].item_id == item_id)
                            vm.give.splice(item, 1);
                    }
                } else {
                    for (item in vm.selected) {
                        if (vm.selected[item].item_id == item_id)
                            vm.selected.splice(item, 1);
                    }
                }
            },
            onSubmit: function (e) {
                e.preventDefault();
                return false;
            },
            getQrcode: function (id) {
                var obj = $(event.target);
                var repeat = obj.data('repeat');
                $.ajax({
                    type: 'POST',
                    url: '/admin/member/appointment',
                    data: {id: id, repeat: repeat},
                    success: function (data) {
                        obj.data('repeat', parseInt(repeat) + 1);
                        obj.text('再次生成预约码');
                        swal({
                            title: "预约码["+data.qrcode+"],去消费 !?",
                            text: "未消费之前可重复预约，会员可自行调整预约时间!",
                            imageUrl:'http://scsj-v2-bos.bj.bcebos.com/headImg/default.jpg',
                            type:"success",
                            showCancelButton: true,
                            confirmButtonColor: "#18a689",
                            confirmButtonText: "Just do it!",
                            showLoaderOnConfirm:true,
                            html:data.qrcode
                        }, function () {
                            location.href = "/admin/member/consumption.html?user_id=" + data.user_id;
                        });
                    },
                    error: function (xhr, type) {
                        err(xhr.responseText);
                    }
                });
            }
        },
        updated: function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });
        }
    });

    function ajax_get_user(name) {
        var words=vm.user.phone;
        if (name)
            words=vm.user.name
        if (!vm.user.phone && !vm.user.name)
            return;
        axios.post('/admin/member/index', {
            'nameorphone': words,
            'json':true
        }).then(function (response) {
            if (response.data[0]) {
                vm.user = response.data[0];
            } else {
                layer.open({
                    content: '无会员资料', skin: 'msg', time: 1.5, end: function () {
                        vm.user = {};
                    }
                });
            }
        }).catch(function (error) {
            layer.open({content: error, skin: 'msg'});
        });
    }

    function getItems() {
        if (Object.keys(vm.items).length)
            return;

        axios.post('/admin/item/itemListForSeletor').then(function (res) {
            vm.items = res.data;
        }).catch(function (error) {
            err(error.response.data);
        });
    }

    function viewOrder(id,init){
        axios.post('/admin/member/order_detail',{order_id:id}).then(function(res){
            vm.order_detail=res.data;
            $("#order-detail").modal('show');
        }).catch(function(error){
            err(error.response.data);
        });
    }
</script>
{include file="public/footer" /}