{include file="public/header" /}
<style>
    .empty {
        text-align: center;
    }

    .empty div {
        font-size: .5rem;
        color: #999;
    }
</style>
<section class="g-flexview">
    <header class="m-navbar">
        <a href="{:url('user/index')}" class="navbar-item">
            <i class="back-ico"></i>
        </a>
        <div class="navbar-center">
            <span class="navbar-title">积分 | 余额</span>
        </div>
    </header>

    <div class="empty">
        <div>功能待完善</div>
    </div>
</section>

</body>
</html>